In [1]:
# Importing dependencies
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import time

In [2]:
# Setting file directory
file_dir = 'Data'

In [3]:
# Extracting data
jan_19_data = pd.read_csv(f'{file_dir}/Jan_2019_ontime.csv')
jan_20_data = pd.read_csv(f'{file_dir}/Jan_2020_ontime.csv')

In [4]:
jan_19 = jan_19_data
jan_19.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0,0,300
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0,0,596
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0,0,229
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0,0,223
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0,0,579

In [5]:
jan_20 = jan_20_data
jan_20.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,1197705,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0,0,174
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,1393007,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0,0,585
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,1541205,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0,0,631
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,1226603,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0,0,253
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,1226603,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0,0,1157

In [6]:
jan_19 = jan_19.dropna()
jan_19

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0,0,300
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0,0,596
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0,0,229
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0,0,223
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0,0,579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,31,4,UA,19977,UA,N776UA,200,12016,1201602,GUM,...,1217305,HNL,749.0,0.0,0700-0759,1832.0,0.0,0,0,3801
583981,31,4,UA,19977,UA,N36280,174,12016,1201602,GUM,...,1495503,SPN,717.0,0.0,0700-0759,759.0,0.0,0,0,129
583982,31,4,UA,19977,UA,N36280,117,14955,1495503,SPN,...,1201602,GUM,857.0,0.0,0900-0959,933.0,0.0,0,0,129
583983,31,4,UA,19977,UA,N39726,105,14955,1495503,SPN,...,1201602,GUM,1820.0,0.0,1800-1859,1854.0,0.0,0,0,129
583984,31,4,UA,19977,UA,N39726,104,12016,1201602,GUM,...,1495503,SPN,1636.0,0.0,1600-1659,1719.0,0.0,0,0,129

In [7]:
jan_20 = jan_20.dropna()
jan_20

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,1197705,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0,0,174
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,1393007,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0,0,585
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,1541205,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0,0,631
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,1226603,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0,0,253
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,1226603,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0,0,1157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607341,31,5,9E,20363,9E,N331CA,4812,15412,1541205,TYS,...,1143302,DTW,1002.0,1.0,0700-0759,1128.0,1.0,0,0,443
607342,31,5,9E,20363,9E,N295PQ,4813,11433,1143302,DTW,...,1247805,JFK,1747.0,0.0,1700-1759,1933.0,0.0,0,0,509
607343,31,5,9E,20363,9E,N294PQ,4814,11996,1199603,GSP,...,1295304,LGA,554.0,0.0,0600-0659,752.0,0.0,0,0,610
607344,31,5,9E,20363,9E,N228PQ,4815,10397,1039707,ATL,...,1591904,XNA,1714.0,0.0,1700-1759,1811.0,0.0,0,0,589
607345,31,5,9E,20363,9E,N228PQ,4815,15919,1591904,XNA,...,1039707,ATL,1841.0,0.0,1800-1859,2128.0,0.0,0,0,589

In [8]:
jan_19.count()

DAY_OF_MONTH             565963
DAY_OF_WEEK              565963
OP_UNIQUE_CARRIER        565963
OP_CARRIER_AIRLINE_ID    565963
OP_CARRIER               565963
TAIL_NUM                 565963
OP_CARRIER_FL_NUM        565963
ORIGIN_AIRPORT_ID        565963
ORIGIN_AIRPORT_SEQ_ID    565963
ORIGIN                   565963
DEST_AIRPORT_ID          565963
DEST_AIRPORT_SEQ_ID      565963
DEST                     565963
DEP_TIME                 565963
DEP_DEL15                565963
DEP_TIME_BLK             565963
ARR_TIME                 565963
ARR_DEL15                565963
CANCELLED                565963
DIVERTED                 565963
DISTANCE                 565963
dtype: int64

In [9]:
jan_20.count()

DAY_OF_MONTH             599268
DAY_OF_WEEK              599268
OP_UNIQUE_CARRIER        599268
OP_CARRIER_AIRLINE_ID    599268
OP_CARRIER               599268
TAIL_NUM                 599268
OP_CARRIER_FL_NUM        599268
ORIGIN_AIRPORT_ID        599268
ORIGIN_AIRPORT_SEQ_ID    599268
ORIGIN                   599268
DEST_AIRPORT_ID          599268
DEST_AIRPORT_SEQ_ID      599268
DEST                     599268
DEP_TIME                 599268
DEP_DEL15                599268
DEP_TIME_BLK             599268
ARR_TIME                 599268
ARR_DEL15                599268
CANCELLED                599268
DIVERTED                 599268
DISTANCE                 599268
dtype: int64

In [10]:
jan_19.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                  int64
DIVERTED                   int64
DISTANCE                   int64
dtype: object

In [11]:
jan_20.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                  int64
DIVERTED                   int64
DISTANCE                   int64
dtype: object

In [12]:
jan_19[jan_19.OP_UNIQUE_CARRIER==jan_19.OP_CARRIER].shape

(565963, 21)

In [13]:
jan_20[jan_20.OP_UNIQUE_CARRIER==jan_20.OP_CARRIER].shape

(599268, 21)

In [14]:
jan_19_clean = jan_19.drop(['OP_UNIQUE_CARRIER'], axis=1)
jan_19_clean.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,20363,9E,N8688C,3280,11953,1195302,GNV,10397,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0,0,300
1,1,2,20363,9E,N348PQ,3281,13487,1348702,MSP,11193,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0,0,596
2,1,2,20363,9E,N8896A,3282,11433,1143302,DTW,11193,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0,0,229
3,1,2,20363,9E,N8886A,3283,15249,1524906,TLH,10397,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0,0,223
4,1,2,20363,9E,N8974C,3284,10397,1039707,ATL,11778,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0,0,579

In [15]:
jan_20_clean = jan_20.drop('OP_UNIQUE_CARRIER', axis=1)
jan_20_clean.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,3,20366,EV,N48901,4397,13930,1393007,ORD,11977,1197705,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0,0,174
1,1,3,20366,EV,N16976,4401,15370,1537002,TUL,13930,1393007,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0,0,585
2,1,3,20366,EV,N12167,4404,11618,1161802,EWR,15412,1541205,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0,0,631
3,1,3,20366,EV,N14902,4405,10781,1078105,BTR,12266,1226603,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0,0,253
4,1,3,20366,EV,N606UX,4407,14524,1452401,RIC,12266,1226603,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0,0,1157

In [16]:
# Generate our categorical variable list
jan_19_cat = jan_19_clean.dtypes[jan_19_clean.dtypes == "object"].index.tolist()
jan_19_cat

['OP_CARRIER', 'TAIL_NUM', 'ORIGIN', 'DEST', 'DEP_TIME_BLK']

In [17]:
# Generate our categorical variable list
jan_20_cat = jan_20_clean.dtypes[jan_20_clean.dtypes == "object"].index.tolist()
jan_20_cat

['OP_CARRIER', 'TAIL_NUM', 'ORIGIN', 'DEST', 'DEP_TIME_BLK']

In [18]:
output_file_path1 = "Data/jan_19_clean.csv"
jan_19_clean.to_csv(output_file_path1, index=False)

In [19]:
output_file_path2 = "Data/jan_20_clean.csv"
jan_20_clean.to_csv(output_file_path2, index=False)